body {
  font:1em Helvetica, sans-serif;
  margin:0;
  padding:4px;
}
h1 {
  margin:0;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}
h1 a {
  color: black;
}
label {
  display: block;
}
#account label {
  display: inline;
}
#header {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
#current-path {
  font-weight:normal;
  color:#555;
}
#account {
  float:right;
}
#content {
  clear:both;
}
.clear {
  clear:left;
}
table {
  border-collapse: collapse;
}
td {
	padding: 6px 11px;
	border-bottom: 1px solid #95bce2;
	vertical-align: top;
}
/*
td * {
	padding: 6px 11px;
}*/
th {
	background: #3e83c9;
	color: #fff;
	font-weight: bold;
	padding: 2px 11px;
	text-align: left;
	border-right: 1px solid #fff;
	line-height: 1.2;
}
table .even {
  background-color: #ECF6FC;
}
table .over {
  background-color: #BCD4EC;
}
span {
  padding: 0;
}
#replies {
  margin: 0;
  padding: 0;
}
#replies ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#replies ol li {
  margin: 0;
  padding: 0;
}
#replies ol li p {
  margin-top: 10px;
  padding: 0;
}
#replies ol li p.heading {
  font-style: bold;
}
#replies ol li p.heading a {
  padding: 0;
}
#replies ol li p .author {
  margin: 0;
  padding: 0;
}
#replies ol li p.text {
  margin: 0;
  padding-left: 1em;
}
#replies form {
  margin-top: 1em;
  padding-top: 10px;
}
#replies form li {
  padding-top: 10px;
}
#replies form textarea {
  width: 400px;
  height: 200px;
}
#replies form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#list_table {
  margin-left: 1em;
  margin-top: 1em;
}
#show_table {
  margin-left: 1em;
  margin-top: 1em;
}
#btn_new {
  margin-left: 1em;
  margin-top: 1em;
}
