<!DOCTYPE html>
<html>
<head>
  <title>Issues - Edit</title>
  {{>styles}}
</head>
<body>
  <div id="thisDoc" style="float: left;"> </div>
  <div id="otherDoc" style="float: right"> </div>
</body>
{{>scripts}}
<script type="text/javascript" charset="utf-8">
  $.couch.app(function(app) {
    // includes
    var path = app.require("vendor/couchapp/lib/path").init(app.req);
    var Mustache = app.require("vendor/couchapp/lib/mustache");
    $.log('required libs loaded');
    var currentDoc = {{{doc}}}  // parse doc from string
      ,otherDoc = {} // conflicting document
      ,updateCurrentDocFromUserInput = function(parent_div) {
        currentDoc.status = $(".status", parent_div).val();
        currentDoc.text = $(".text", parent_div).val();
        currentDoc.assigned_to = $(".assigned_to", parent_div).val();
      }
      ,renderIssue = function(doc, element, with_options) {
        $.log('render', doc, element, with_options);
        // generate template data
        var data = {
          created_at: doc.created_at,
          status: doc.status,
          id: doc._id,
          text: doc.text,
          rev: prettyRevision(doc._rev),
          statuses: app.ddoc.conf.statuses,
          assigned_to: doc.assigned_to
        };
        // render it
        $(element).html(
          Mustache.to_html(app.ddoc.templates.partials.issue, data)
        );
        // preselect current status
        $('option:contains('+doc.status+')', element).attr('selected','selected');
        // for normal view we need default options, i.e. 'save' and 'remove'
        if (with_options) {
          $(element).append(Mustache.to_html(app.ddoc.templates.partials.options));
          // this will fail without authentication
          $("#delete").click(function() {
            if (confirm("Do you really want to delete this issue?") === true) {
              app.db.removeDoc(currentDoc, {
                success: function() {
                  window.location = path.list('tabular', 'by_date', {descending: true});
                }
              });
            }
          });
        }
      }
      /**
       * renders currentDoc with options
       */
      ,renderSingleIssue = function() {
        renderIssue(currentDoc, '#thisDoc', true);
        $("#ok").click(function() {
          updateCurrentDocFromUserInput($("#thisDoc"));
          saveCurrentDoc();
        });
      }
      /**
       * expects a couchdb revision
       * @return the human readable prefix
       */
      ,prettyRevision = function(r) {
        return r && r.split && r.split('-')[0] || 'undefined';
      }
      /**
       * saves currentDoc to db and refreshes #rev;
       * connects conflict handler
       */
      ,saveCurrentDoc = function() {
        app.db.saveDoc(currentDoc, {
          success: function(resp) {
            //$("#rev").text(prettyRevision(resp.rev));
            window.location = path.list('tabular', 'by_date', {descending: true});
          },
          error: onConflict
        });
      }
      ,beforeMerge = function() {
        $("#options").hide();
      }
      afterMerge = function() {
        renderSingleIssue();
        $("#options").show();
        $("#otherDoc").empty();
      }
      /**
       * displays currentDoc and otherDoc side by side
       */
      ,onConflict = function(status, error, reason) {
        if (error == 'conflict') {
          beforeMerge();
          // get other doc, display
          app.db.openDoc(currentDoc._id, {
            success: function(otherDoc) {
              // render documents side by side
              renderIssue(currentDoc, '#thisDoc');
              renderIssue(otherDoc, '#otherDoc');
              // add action buttons
              $("#thisDoc").prepend('<button id="btnThis">Take this</button>');
              $("#otherDoc").prepend('<button id="btnThat">Take that</button>');
              // add click handlers
              $("#btnThis").click(function() {
                // take revision from otherDoc and save it
                currentDoc._rev = otherDoc._rev;
                updateCurrentDocFromUserInput($("#thisDoc"));
                saveCurrentDoc();
                afterMerge();
              });
              $("#btnThat").click(function() {
                // tries to save otherDoc
                currentDoc = otherDoc;
                updateCurrentDocFromUserInput($("#otherDoc"));
                // if yet another commit has been made we will recurse
                saveCurrentDoc();
                afterMerge();
              });
            },
            error: function() {
              alert('Error getting other document. Are you online? Is the server available and CouchDB running?');
            }
          });
        } else {
          alert("Error " + reason)
        }
      }
    ; // END var

    // initial
    renderSingleIssue();
  });
  </script>

</html>
