<!DOCTYPE html>
<html>
  <head>
    <title>Issues - Edit</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>
    <p id="msg" style="display: none;"></p>
    <p>{{created_at}}</p>
    <select id="status">
      {{#statuses}}
      <option>{{option}}</option>
      {{/statuses}}{{status}}
    </select>
    <p>{{text}}</p>
    <button id="ok">OK</button>
    <button id="remove">Remove</button>
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      var doc = {{{doc}}},  // parse doc from string
        sendMsg = function(msg) {
          $('#msg').hide().text(msg).fadeIn();
        };
      ;
      delete doc._revisions;  // else: update conflict
      $("#remove").click(function() {
        $.log('remove clicked', doc);
      });
      $("#status")
        .val(doc.status)
        .change(function() {
          doc.status = $(this).val();
        });
      $("#ok").click(function() {
        app.db.saveDoc(doc, {
          success: function() {
            sendMsg('OK');
          }
        });
        return false;
      });
    });
  </script>

</html>
