<!DOCTYPE html>
<html>
  <head>
    <title>Issues - Edit</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>
    <div id="thisDoc" style="float: left;">
      {{>issue}}
      <div id="options">
        <h2>Options</h2>
        <button id="ok">Submit</button>
        <button id="delete">Delete</button>
      </div>
    </div>
    <div id="otherDoc" style="float: right; display: none">
    </div>
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var Mustache = app.require("lib/mustache");
      var currentDoc = {{{doc}}},  // parse doc from string
        otherDoc = {}, // conflicting document
        userChangedStuff = false,  // user changed some input field
        updateCurrentDocFromUserInput = function(parent_div) {
          if (userChangedStuff) {
            currentDoc.status = $(".status", parent_div).val();
            currentDoc.text = $(".text", parent_div).val();
          }
        },
        prettyRev = function(r) {
          return r.split && r.split('-')[0] || 'undefined';
        },
        saveCurrentDoc = function() {
          var onError = conflictHandler;
          app.db.saveDoc(currentDoc, {
            success: function(resp) {
              $("#rev").text(prettyRev(resp.rev)); 
            },
            error: onError
          });
        },
        beforeMerge = function() {
          $("#options").hide();
        }
        afterMerge = function() {
          window.location.reload();
          $("#options").show();
        },
        conflictHandler = function(status, error, reason) {
          if (error == 'conflict') {
            beforeMerge();
            // get other doc, display
            app.db.openDoc(currentDoc._id, {
              success: function(otherDoc) {
                var data = {
                  created_at: otherDoc.created_at,
                  status: otherDoc.status,
                  id: otherDoc._id,
                  text: otherDoc.text,
                  rev: otherDoc._rev.split('-')[0],
                  statuses: [
                    { option: 'open' },
                    { option: 'closed' }
                  ]
                }
                $('#otherDoc').html(Mustache.to_html(app.ddoc.templates.partials.issue, data)).show();
                $("#thisDoc").prepend('<button id="btnThis">Take this</button>');
                $("#otherDoc").prepend('<button id="btnThat">Take that</button>');
                // click handlers for THIS and OTHER
                $("#btnThis").click(function() {
                  // take revision from other
                  currentDoc._rev = otherDoc._rev;
                  updateCurrentDocFromUserInput($("#thisDoc"));
                  saveCurrentDoc();
                  afterMerge();
                });
                $("#btnThat").click(function() {
                  // tries to save otherDoc
                  currentDoc = otherDoc;
                  updateCurrentDocFromUserInput($("#otherDoc"));
                  // if yet another commit has been made we will recurse
                  saveCurrentDoc();
                  afterMerge();
                });
              },
              error: function() {
                alert('Error getting other document');
              }
            });
          } else {
            alert("Error " + reason)
          }
        },
        clearError = function() {
          $("#otherDoc").html('');
        }
      ; // END var
      delete currentDoc._revisions;  // else: update conflict
      $("#delete").click(function() {
        if (confirm("Do you really want to delete this issue?")) {
          app.db.removeDoc(currentDoc, {
            success: function() {
              window.location = path.list('tabular', 'by_date');
            }
          });
        }
      });
      $("#thisDoc .status").val(currentDoc.status);
      $(".status").change(function() {
        userChangedStuff = true;
      });
      $(".text").change(function() {
        userChangedStuff = true;
      });
      $("#ok").click(function() {
        updateCurrentDocFromUserInput($("#thisDoc"));
        saveCurrentDoc();
      });
    });
  </script>

</html>
