<!DOCTYPE html>
<html>
  <head>
    <title>Issues</title>
    <link rel="stylesheet" href="../../css/main.css" type="text/css" media="screen">
    <style type="text/css" media="screen">
      table,td {
        border: 1px solid #DDD;
        border-collapse: collapse;
        padding: 5px;
      }
      .linked:hover {
        background: #CCC;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <ol id="navigation">
      <li><a href="{{link2new}}">New</a></li>
      <li><a href="{{link2all}}">All</a></li>
      <li><a href="{{link2open}}">Open</a></li>
      <li><a href="{{link2closed}}">Closed</a></li>
    </ol>
    <table>
      <tr>
        <th>ID</th>
        <th>When</th>
        <th>Description</th>
        <th>Status</th>
        <th>Assigned To</th>
      </tr>
      {{#issues}}
      <tr class="linked" onclick="document.location.href = '{{edit_link}}'">
        <td>{{_id}}</td>
        <td>{{created_at}}</td>
        <td>{{text}}</td>
        <td>{{status}}</td>
        <td>{{assigned_to}}</td>
      </tr>
      {{/issues}}
      {{^issues}}
      <tr>
        <td colspan="5">Click new to create!</td>
      </tr>
      {{/issues}}
    </table>
    <label for="replication_target">Replicate: </label><input type="text" id="replication_target" name="replication_target" />
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      // includes
      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      // http://groups.google.com/group/couchapp/browse_thread/thread/217c4efe30dbd47a
      var push_id, pull_id;
      var src = app.db.name;
      var target_input = $("#replication_target");
      var errlog = function() {
        $.log(arguments);
      };
      // handle enter press on target input
      target_input.keypress(function(e) {
        if (e.which == '13') {
          var target = target_input.val();
          $.couch.replicate(src, target, {
              success: function(response) {
                push_id = response._local_id;
              },
              error: errlog
            }, {
              continuous: true
          });
          $.couch.replicate(target, src, {
              success: function(response) {
                pull_id = response._local_id;
                $("#replication_target").after('<button id="cancel_replication">Cancel</button>');
                $("#cancel_replication").click(function() {
                  if (! (push_id && pull_id) ) {
                    alert('Fail');
                  } else {
                    $.couch.replicate(src, target, {
                        error: errlog
                      }, {
                        cancel: true,
                        continuous: true
                    });
                    $.couch.replicate(target, src, {
                        error: errlog
                      }, {
                        cancel: true,
                        continuous: true
                    });
                  }
                });
              },
              error: errlog
            }, {
              continuous: true
          });
        }
      });
    });
    </script>

</html>
