<!DOCTYPE html>
<html>
  <head>
    <title>Issues</title>
    <link rel="stylesheet" href="../../css/main.css" type="text/css" media="screen">
    <style type="text/css" media="screen">
      table,td {
        border: 1px solid #DDD;
        border-collapse: collapse;
        padding: 5px;
      }
      .linked:hover {
        background: #CCC;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <ol id="navigation">
      <li><a href="{{link2new}}">New</a></li>
      <li><a href="{{link2all}}">All</a></li>
      <li><a href="{{link2open}}">Open</a></li>
      <li><a href="{{link2closed}}">Closed</a></li>
    </ol>
    <table>
      <tr>
        <th>ID</th>
        <th>When</th>
        <th>Description</th>
        <th>Status</th>
        <th>Assigned To</th>
      </tr>
      {{#issues}}
      <tr class="linked" onclick="document.location.href = '{{edit_link}}'">
        <td>{{_id}}</td>
        <td>{{created_at}}</td>
        <td>{{text}}</td>
        <td>{{status}}</td>
        <td>{{assigned_to}}</td>
      </tr>
      {{/issues}}
      {{^issues}}
      <tr>
        <td colspan="5">Click new to create!</td>
      </tr>
      {{/issues}}
    </table>
  </body>
</html>
